.project
.classpath
.settings
.settings/
.metadata
*.prefs

.idea/
*.iml

target/
build/
classes/
tmp/

.gradle
.gradle/
.sonar
.sonar/
sonar-project.*

atlassian-ide-plugin.xml
rebel.xml

.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
